
.search-bar {
  display: flex;
  height: 2.5rem;
  width: 50vw;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
button{
  background-color: #ffffff;
}
input[type="text"] {
  border: none;
  flex: 1;
  padding: 5px;
  outline: none;
  margin-right: 0;
}
.search-icon {
  fill:black;
  margin-left: 10px;
  cursor: pointer;
}

#icon img{
  height: 4vh;
  padding: 1%;
  margin-right:10vw;
}
// .nav-filter{
//   padding:0.5vh 1vw 0.5vh 1vw;
//   font-size: 15px;
//   background-color: #ffdd95;
//   color: black;
//   font-family: Poppins,Arial;
//   font-weight: 700;
//   margin-left: 3vw;
// }
// .nav-filter :hover{
//   background-color: #ffffff;
// }
// .nav-lang{
//   margin-top: 0.5vh;
//   margin-left:15vw;
//   cursor: pointer;
//   color:black;
//   .left{
//     border-radius: 5px 0 0 5px;
//     width: 4vw;
//     padding: 0;
//   }
//   .right{
//     border-radius: 0 5px 5px 0;
//     width: 4vw;
//     padding: 0;
//   }
  
// }
