.album{
  border: solid rgb(86, 86, 86);
}
p{
  border: solid rgb(243, 243, 161);
  background-color: #ffdd95;
  color: black;
  font-weight: 500;
}
.card{
  color: white;
}
img{
  height: 40vh;
  image-rendering: pixelated;
}
.card{
  border: solid rgb(86, 86, 86);
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }