p{
  border: solid rgb(243, 243, 161);
  background-color: #ffdd95;
  color: black;
  font-weight: 500;
}
.card{
  color: white;
}
img{
  height: 40vh;
  // image-rendering: auto;
  // image-rendering: crisp-edges;
  image-rendering: pixelated;

}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }